.row{
    .col{
        .card{
            .card-body{
                .row:nth-child(2){
.col-3{
    button{
        background-color:#fdae26;
        color:white;
    }
}
                }
            }
        }
    }
}

input{
    background-color: #d1d1d1;
}