<p>academic-year works!</p>
<div class="">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <h4>Academic Year</h4>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-4">
          <label>StartDate</label>
          <input type="date" class="form-control" id="example-date-input" />
        </div>
      </div>
      <br />
      <div class="row d-flex justify-content-center">
        <div class="col-4">
          <label>EndDate</label>
          <input type="date" class="form-control" id="example-date-input" />
        </div>
      </div>
      <br />
      <div class="row d-flex justify-content-center">
        <div class="col-sm-4">
          <label>Academic year</label>
          <input type="text" class="form-control" placeholder="2015-2018" />
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col d-flex justify-content-center">
          <table class="table table-hover">
            <thead>
              <tr class="table-active">
                <th>S.No</th>
                <th>Academic Name Year</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Last Update</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>2015-2018</td>
                <td>01/20/19</td>
                <td>08/31/20</td>
                <td>january</td>
              </tr>
              <tr>
                <td>2</td>
                <td>2015-2018</td>
                <td>05/18/19</td>
                <td>12/28/20</td>
                <td>march</td>
              </tr>
              <tr>
                <td>3</td>
                <td>2015-2018</td>
                <td>07/18/19</td>
                <td>03/11/20</td>
                <td>june</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
