<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        <h4>Add New Students</h4>
                    </div>
                    <div class="col-2 d-flex justify-content-end">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- inputs -->
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label>First Name *</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>Last Name *</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group ">
                            <label>Gender *</label>
                            <select class="form-control">
                            <option value=""disabled selected>Please Select Gender*</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                            <!-- <input type="text" class="form-control pt-3" placeholder="Please Select Gender*"> -->
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>Date Of Birth *</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label>Roll</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>Blood Group *</label>
                            <select class="form-control">
                                <option value="" disabled selected>Please Select Group*</option>
                                <option>A+</option>
                                <option>A-</option>
                                <option>B+</option>
                                <option>B-</option>
                                <option>O+</option>
                                <option>O-</option>
                            </select>
                            <!-- <input type="text" class="form-control" placeholder="Please Select Group*"> -->
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>Religion *</label>
                            <select class="form-control">
                                <option value="" disabled selected>Please Select Religion*</option>
                                <option>Islam</option>
                                <option>Hindu</option>
                                <option>Christian</option>
                                <option>Buddish</option>
                                <option>Others</option>
                            </select>
                            <!-- <input type="text" class="form-control" > -->
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>E-Mail</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label>Class *</label>
                            <select class="form-control">
                                <option value="" disabled selected>Please Select Class*</option>
                                <option>Play</option>
                                <option>Nursery</option>
                                <option>One</option>
                                <option>Two</option>
                                <option>Three</option>
                                <option>Four</option>
                                <option>Five</option>
                            </select>
                            <!-- <input type="text" class="form-control"placeholder="Please Select Class*"> -->
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>Section *</label>
                            <select class="form-control">
                                <option value="" disabled selected>Please Select Section*</option>
                                <option>Pink</option>
                                <option>Blue</option>
                                <option>Bird</option>
                                <option>Rose</option>
                                <option>Red</option>
                            </select>
                            <!-- <input type="text" class="form-control"placeholder="Please Select Section"> -->
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>Admission ID</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Short BIO</label>
                            <textarea class="form-control"  rows="5"></textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Upload Student Photo (150px X 150px)</label>
                            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn ml-4 btn1">Save</button>
                        <button class="btn ml-4 btn2">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>