<div class="card">
  <div class="card-body">
    <div class="row">
      <h3><strong>All Transport List</strong></h3>
      <i class="fas fa-ellipsis-h"></i>
      <!-- <i class="fas fa-ellipsis-h" aria-hidden="true"></i> -->
      <!-- <i class="fa fa-ellipsis-v" aria-hidden="true"></i> -->
    </div>
    <br />
    <div class="row">
      <div class="col-sm-3">
        <input
          type="text"
          [(ngModel)]="transportlistObj.searchRoute" class="form-control"
          placeholder="Search by Route..."
        />
      </div>
      <div class="col-sm-3">
        <input
          type="text"
          [(ngModel)]="transportlistObj.searchcarNumber"  class="form-control"
          placeholder="Search by Car Number..."
        />
      </div>
      <div class="col-sm-3">
        <input
          type="text"
           [(ngModel)]="transportlistObj.searchPhone" class="form-control"
          placeholder="Search by Phone..."
        />
      </div>
      <div class="col-sm-3">
        <button (click)="searchbtn()" class="btn btn-outline-warning">Search</button>

        <!-- <button class="btn">Hover Over Me</button> -->
        <!-- <button class="btn btn-change3 ml-5"> -->
        <!-- Search
        </button> -->
      </div>
    </div>
    <br />
    <!-- search end -->
    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr class="table-active">
            <th>
              <input
                type="checkbox"
                id="vehicle1"
                name="vehicle1"
                value="Bike"
              />
            </th>
            <th>Route Name</th>
            <th>Vehicle No</th>
            <th>Driver Name</th>
            <th>Driver License</th>
            <th>Contact Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                type="checkbox"
                id="vehicle1"
                name="vehicle1"
                value="Bike"
              />
            </td>
            <td>Wales Road</td>
            <td>MT988800</td>
            <td>Johnathan John</td>
            <td>DLNC025936</td>
            <td>+889562365846</td>
          </tr>
          <tr>
            <td>
              <input
                type="checkbox"
                id="vehicle1"
                name="vehicle1"
                value="Bike"
              />
            </td>
            <td>Wales Road</td>
            <td>MT988800</td>
            <td>jack</td>
            <td>DLNC025936</td>
            <td>+889562365846</td>
          </tr>
          <tr>
            <td>
              <input
                type="checkbox"
                id="vehicle1"
                name="vehicle1"
                value="Bike"
              />
            </td>
            <td>Wales Road</td>
            <td>MT988800</td>
            <td>James</td>
            <td>DLNC025936</td>
            <td>+889562365846</td>
          </tr>

          <tr>
            <td>
              <input
                type="checkbox"
                id="vehicle1"
                name="vehicle1"
                value="Bike"
              />
            </td>
            <td>Wales Road</td>
            <td>MT988800</td>
            <td>Stephen</td>
            <td>DLNC025936</td>
            <td>+889562365846</td>
          </tr>
          <tr>
            <td>
              <input
                type="checkbox"
                id="vehicle1"
                name="vehicle1"
                value="Bike"
              />
            </td>
            <td>Wales Road</td>
            <td>MT988800</td>
            <td>William</td>
            <td>DLNC025936</td>
            <td>+889562365846</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- table end -->
    <div class="row"></div>
    <!-- next button end -->
  </div>
</div>
