<p>transport works!</p>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <h3><strong>Add New Transport</strong></h3>
      </div>

      <!-- add new transport end -->
      <div class="row">
        <div class="col">
          <label>Route Names</label>
          <input type="text" [(ngModel)]="transportObj.routeNames" class="form-control" />
        </div>
        <div class="col">
          <label>Vehicle Number</label>
          <input type="text" [(ngModel)]="transportObj.vehicleNumber" class="form-control" />
        </div>
        <div class="col">
          <label>Driver Name</label>
          <input type="text" [(ngModel)]="transportObj.driverNames" class="form-control" />
        </div>
      </div>
      <!-- names end -->
      <div class="row">
        <div class="col-sm-4">
          <label>License Number</label>
          <input type="text" [(ngModel)]="transportObj.licenseNumber" class="form-control" />
        </div>
        <div class="col-sm-4">
          <label>Phone Number</label>
          <input type="text" [(ngModel)]="transportObj.phoneNumber" class="form-control" />
        </div>
      </div>
      <br />
      <!-- number end -->
      <div class="row">
        <div class="col">
          <button (click)="transportForm()" class="btn btn-outline-warning">Save</button>
          <button (click)="reset()" class="btn btn-outline-primary ml-3">
            Reset
          </button>
        </div>
      </div>
      <!-- button end -->
    </div>
  </div>
</div>
